'name': '.dockerignore'
'fileTypes': [
  '.dockerignore'
]
'patterns': [
  {
    'match': '^#.*$',
    'name': 'comment.dockerignore'
  }
  {
    'match': '\\*|\\?',
    'name': 'keyword.wildcard.dockerignore'
  }
  {
    'match': '^!',
    'name': 'keyword.negated.dockerignore'
  }
]
'scopeName': 'source.dockerignore'
